<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link href="~/CSS/GreatRecipes.css" rel="stylesheet" />
    <style type="text/css">
    </style>
</head>
<body>
    <div id="allpage">
        <header>
            <img style="margin-left:30px; height:250px; width:680px" src="~/Images/header.JPG" />
        </header>
        @RenderBody()
        <p style="text-align:right; color:darkcyan; font-style: italic">&copy; Avijit Bagchi, ID# 301007115<p>
    </div>
    <p></p>
</body>
</html>
