
@{
    ViewBag.Title = "Home Page";
}
<div style="text-align:center">
    <img alt="Picture of chicken piccata" src="~/Images/HomepagePhoto.jpg" style="width: 300px; height: 260px" />
    <a asp-controller="Home" asp-action="RecipeList"><h4>See Our Recipes</h4></a><br>
</div>

