
@{
    ViewBag.Title = "Review Recipe";
}

<div style="margin-left:50px; margin-right:50px" class="form-group">
    <form class="p-a-1" asp-controller="Home" asp-action="ReviewRecipe" method="post">
        <div class="form-group">
            <label><h4>Your Name:</h4></label>
            <input class="form-control" />

            <label><h4>Comment:</h4></label>
            <input class="form-control" />
        </div>
        <button type="submit" class="btn btn-dark">Post Review</button>
        @using (Html.BeginForm("Index", "Home"))
        {
            <button type="submit" class="btn btn-dark">Cancel</button>
        }
    </form>
    <p></p>
    <div>
        <a asp-action="Index"><h4>Back to Homepage</h4></a>
        <p></p>
    </div>
</div>
